<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wechat.wechat.mapper.WeChatMapper">

    <select id="accessToken" resultType="com.hanboard.educloud.training.module.wechat.AccessToken">
        SELECT
        ACCESS_TOKEN AS accessToken,
        EXPIRES_IN AS expiresIn,
        CREATE_TIME AS createTime
        FROM hz_token_backup
        ORDER BY CREATE_TIME DESC
        limit 1
    </select>

    <!--新增token记录-->
    <insert id="newToken" parameterType="com.hanboard.educloud.training.module.wechat.AccessToken">
        insert into hz_token_backup
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                ID,
            </if>
            <if test="accessToken != null" >
                ACCESS_TOKEN,
            </if>
            <if test="expiresIn != null" >
                EXPIRES_IN,
            </if>
            <if test="createTime != null" >
                CREATE_TIME,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="accessToken != null" >
                #{accessToken,jdbcType=VARCHAR},
            </if>
            <if test="expiresIn != null" >
                #{expiresIn,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null" >
                #{createTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <insert id="addRecord" parameterType="com.hanboard.educloud.training.module.wechat.RoomRecord">
        INSERT INTO hz_record(ID, USER_ID, USER_NAME, LOGON_NAME, OPEN_ID,
         CLASS_ACTIVITY_ID, LOCATION, SIGN_TIME, SIGN_TYPE)
         VALUES (#{id}, #{userId}, #{userName}, #{logonName}, #{openId}, #{classActivityId},
          #{location}, #{signTime}, #{signType})
    </insert>

    <!--根据openId查询是否有记录-->
    <select id="recordListByOpenId" parameterType="java.lang.String" resultType="com.hanboard.educloud.training.module.wechat.RoomRecord">
        SELECT
        ID AS id,
        USER_ID AS userId,
        USER_NAME AS uesrName,
        LOGON_NAME AS logonName,
        OPEN_ID AS openId,
        CLASS_ACTIVITY_ID AS classActivityId,
        SIGN_TIME AS signTime,
        SIGN_TYPE AS signType,
        LOCATION AS location
        FROM hz_record
        <where>
            <if test="_parameter != null and _parameter != ''">
                OPEN_ID = #{_parameter}
            </if>
        </where>
        ORDER BY SIGN_TIME DESC
    </select>

</mapper>